* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    animation: slideInDown 0.5s ease both;
}

@keyframes slideInDown {

    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
}

section ul {
    margin-bottom: 20px;
}

section li {
    margin-left: 30px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #99c7ff;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}

input[type=submit]:focus {
    outline: none;
    box-shadow: 0 0 0 3px #99c7ff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: slideInUp 0.5s ease both;
}

@keyframes slideInUp {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }
    
footer p {
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
}


.social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #4CAF50;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav ul li a {
        padding: 5px;
    }
}
